.popular-products {
    margin-top: 70px;
    margin-bottom: 70px;
}
.popular-products .container-xxl {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.popular-products .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.popular-products h2.mainTitle {
    font-size: 20px;
    font-weight: bold;
}
.popular-products button:active {
    color: white;
}
.categories {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.categories div {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
@media (max-width : 549px) {
    .popular-products .content {
        grid-template-columns: 1fr;
}
}
@media (min-width : 550px) and (max-width : 767px) {
    .popular-products .content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width : 768px) and (max-width : 996px) {
    .popular-products .content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width : 998px){
    .popular-products .content {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}