.featuresCats h3 {
    margin: 40px 0;
}
.featuresCats .categories {
    display: flex;
    gap: 20px;
}
.featuresCats  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 7px 0;
    width: 86px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.featuresCats .category:nth-child(1) {
    box-shadow: 1px 1px 1px 1px #939393;
}
.featuresCats .category:hover {
    margin-top: -10px;
}
.featuresCats img{
    width: 50px;
}
.featuresCats .cat-title {
    font-weight: bold;
    font-size: 13px;
}