p {
    padding: 0;
    margin: 0;
}
.card {
    transition: .4s ;
    min-width: 250px;
    height: fit-content;
}
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.card img {
    height: 200px;
    object-fit: contain;
    padding: 10px;
}
.card .card-body {
    display: flex;
    flex-direction: column;
}
.card .brandOnHead {
    color: var(--p-color);
    font-size: 12px;
}
.card i[class*= "star"] {
    color: #faaf00;
}
.card .bodyBrand {
    margin: 10px;
    color: var(--main-color);
    font-size: 17px;
}
.card button {
    background-color: var(--babyGreen-color);
    border: var(--main-color);
    color: var(--main-color);
    padding: 4px;
    border-radius: 9px;
}
