p {
    padding: 0;
    margin: 0;
}
.card {
    min-width: 250px;
    height: fit-content;
    transition: var(--transition) ;
    -webkit-transition: var(--transition) ;
    -moz-transition: var(--transition) ;
    -ms-transition: var(--transition) ;
    -o-transition: var(--transition) ;
}
.card:hover {
    box-shadow: 6px 6px 0px 0 #eee5bbb5 ; 
}
.card > div {
    overflow: hidden;
    position: relative;
}
.card .actions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    background-color: #eaeaeaeb;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 7px 15px;
    border: solid 1px var(--main-color);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    opacity: 0;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    z-index: 1;
}
.card .actions::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 100%;
    background-color: var(--main-color);
}
.card:hover .actions {
    opacity: 1;
}
.card .actions i {
    color: var(--main-color);
    cursor: pointer;
}
.card:hover img {
    scale: 1.3;
}
.card img {
    height: 200px;
    object-fit: contain;
    padding: 10px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.card .card-body {
    display: flex;
    flex-direction: column;
}
.card .brandOnHead {
    color: var(--p-color);
    font-size: 12px;
}
.card i[class*= "star"] {
    color: #faaf00;
}
.card .bodyBrand {
    margin: 10px;
    color: var(--main-color);
    font-size: 17px;
}
.card button {
    background-color: var(--babyGreen-color);
    border: var(--main-color);
    color: var(--main-color);
    padding: 4px;
    border-radius: 9px;
}
.card button:active{
    background-color: var(--babyGreen-color) !important;
}
.card button:hover {
    background-color: var(--main-color);
    border: var(--main-color);
    color: white;
    padding: 4px;
    border-radius: 9px;
}