.parent {
    width: 300px;
    height: 300px;
    overflow: hidden;
    cursor: grab;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.parent:hover img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}