html {
    scroll-behavior: smooth;
}
:root {
    --main-color : #3bb77e ; 
    --babyGreen-color : #def9ec ; 
    --p-color : #7e7e7e;
    --font-color : #1c1a1aba ; 
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgb(227, 227, 227);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(226, 165, 11);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.p-color {
    color: var(--p-color);
}
.mainTitle {
    font-family: "Caveat", cursive;
}
.price {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.newPrice {
    font-size: 20px;
    color: var(--main-color);
}
.price .oldPrice {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.404);
}

.call-center {
    display: flex;
    align-items: center;
    gap: 10px;
}
.call-center img {
    width: 32px;
    height: fit-content;
}
.call-center .phone {
    color: var(--main-color) ; 
    font-size: 20px;
}
.call-center p {
    color: var(--p-color);
    margin: 0;
    font-size: 11px;
}
[class *= btn].btn:active {
    background-color: var(--babyGreen-color);
    color: var(--main-color);
    border-color: var(--babyGreen-color);
}
button.mainButton {
    color: white;
    background-color: var(--main-color);
    border-color: var(--main-color);
}
button.mainButton:hover {
    color: var(--main-color);
    background-color:var(--babyGreen-color) ;
    border: solid 1px var(--babyGreen-color);
}