.modal-content {
    max-width: 600px;
    margin: auto;
}
.modal-body {
    max-height: 60vh;
    overflow: auto;
    margin-bottom: 25px;
}
.modal-content .modal-footer button {
    padding: 0;
    background-color: white;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.modal-content .modal-footer button:active {
    background-color: white;
}
.modal-content .modal-footer i {
    color: red;
    font-size: 29px;
}
.modal-body .card {
    flex-direction: row;
    width: 100% !important;
    align-items: center;
    position: relative;
    margin: 15px 0;
}
.modal-body .card img {
    width : 200px ; 
    object-fit: contain;
    margin: auto;
}
.modal-body .card button {
    background-color: #c03521;
    color: white;
    position: absolute;
    top: -11px;
    right: 0;
    padding: 5px 0 5px 10px;
    border-radius: 0px 5px 0px 0px;
}
.modal-body .card button:hover {
    background-color: rgba(165, 42, 42, 0.813);
    color: white;
}
.modal-body .card button {
    margin: 10px 0;
}
.modal-body .card button i {
    margin-right: 10px;
}
.modal-footer {
    position: absolute;
    top: -27px;
    right: -21px;
    border: none;
}
@media (max-width : 500px) {
    .modal-body .card {
        flex-wrap: wrap;
    }
}